<div style="text-align: center;">
  <h1 style="text-align: center;">This is Login Page</h1>

  <form action="/login" method="POST">
    <label for="userName">User Name</label><br />
    <input type="text" id="userName" name="name" /><br />
    <label for="password">Password</label><br />
    <input type="password" id="password" name="password" /><br />
    <input type="submit" value="Submit" />
  </form>
  <a href="/register">Register</a>
</div>
